<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factory Detail</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Factory Detail</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Name: {{ factory.name }}</h5>
                <p class="card-text">ID: {{ factory.factory_id }}</p>

                <!-- List of Sectors -->
                <h6>Has Sectors:</h6>
                <ul>
                    {% for sector in sectors %}
                        <li>{{ sector }}</li>
                    {% endfor %}
                </ul>

                <!-- List of Factories -->
                <h6>Has equipment:</h6>
                <ul>
                    {% for eq in eqs %}
                        <li>{{ eq }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a href="{{ url_for('factories_page') }}" class="btn btn-outline-secondary mt-3">Back to Factories List</a>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>